<footer
  class='w-full mx-auto lg:max-w-3xl md:max-w-2xl mb-10 flex justify-center'
>
  <span class='text-center md:text-left w-full'>
    © 2026 Bruno Gamarra. Todos los derechos reservados.
  </span>
</footer>
