---
const NAVS = [
  { href: '#top', label: 'Inicio' },
  { href: '#projects', label: 'Proyectos' },
  { href: '#about', label: 'Sobre Mi' },
  { href: '#contact', label: 'Contacto' },
];
---

<header
  class='fixed top-0 z-10 flex justify-center items-center w-full mx-auto mt-2'
>
  <nav class='flex flex-row gap-x-10 py-2 px-5 rounded-full'>
    {
      NAVS.map((nav) => (
        <a
          class='hover:text-blue-500 transition-colors duration-300'
          href={nav.href}
        >
          {nav.label}
        </a>
      ))
    }
  </nav>
</header>

<style>
  @reference "../styles/global.css";

  nav {
    animation: nav-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
    @apply bg-gray-800/90;
  }

  @keyframes nav-shadown {
    0% {
      background-color: transparent;
    }
    to {
      box-shadow:
        0 10px 15px -3px rgb(0 0 0),
        0 4px 6px -4px rgb(0 0 0);
      ring: 1px solid rgb(255 255 255);
      backdrop-filter: blur(4px);
    }
  }
</style>
