---
interface Props {
  id?: string;
}

const { id = 'toast-error' } = Astro.props;
---

<div
  id={id}
  class='toast fixed bottom-5 right-5 z-50 p-4 rounded-xl items-center justify-center gap-3 text-lg font-medium text-red-200 bg-red-900 shadow-2xl border border-red-800 transition-all duration-500 opacity-0 translate-y-20 pointer-events-none hidden'
>
  <svg
    xmlns='http://www.w3.org/2000/svg'
    class='w-6 h-6 shrink-0'
    fill='none'
    viewBox='0 0 24 24'
    stroke='currentColor'
    stroke-width='2'
  >
    <path
      stroke-linecap='round'
      stroke-linejoin='round'
      d='M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z'
    ></path>
  </svg>
  <span><slot /></span>
  <button
    type='button'
    class='ml-2 text-red-300 hover:text-red-100 transition-colors'
    data-dismiss-toast
    aria-label='Cerrar'
  >
    <svg
      xmlns='http://www.w3.org/2000/svg'
      class='w-5 h-5'
      fill='none'
      viewBox='0 0 24 24'
      stroke='currentColor'
      stroke-width='2'
    >
      <path
        stroke-linecap='round'
        stroke-linejoin='round'
        d='M6 18L18 6M6 6l12 12'></path>
    </svg>
  </button>
</div>
